<p>Age:<%= @user.age.to_i%></p><br>
<br>
<p>Weight:<%= @user.weight%></p><br>
<br>
<p>Height:<%= @user.height%></p><br>
<br>
<p>Sex:<%= @user.sex%></p><br>
<br>
<p>Activity Level:<%= @user.activitylevel%></p><br>
<br>
<p>Research Model:<%= @user.researchmodel%></p><br>
<br>
<p>Body Fat:<%= @user.bodyfat%></p><br>
