<br>
<div class= "containter text-center">
  <div class="col-lg-8 col-lg-offset-4">
    <div class="bigJumbo">
      Age: <%= @user.age %><br>
      <br>
      Weight: <%= @user.weight%><br>
      <% weight_in_kg = @user.weight.to_i * 0.45359237 %>
      <br>
      Height: <%= @user.height%><br>
      <% weight_in_in = @user.height.to_i * 0.39 %>
      <br>
      Sex: <%= @user.sex%>=<br>
      <br>
      Activity Level: <%= @user.activitylevel%><br>
      <br>
      Body Fat: <%= @user.bodyfat%><br>
      <br>
      Pounds to lose per month: <%= @user.pundstolose%><br>
      <br>
      <div class="customJumbo">
        <br>
        <% firstBMI = (@user.weight.to_i * 0.45)%>
        <% secondBMI = (weight_in_in * 0.025) ** 2%>
        BMI: <%= (firstBMI / secondBMI).round(2) %>
        <br>
        BMR:
          <% if @user.sex[0] == "M" %>
            <%= bmr = ((9.99 * weight_in_kg) + (6.25 * @user.height.to_i) - (4.92 * @user.age.to_i) + 5).to_i %>
          <% else %>
            <%= bmr = ((9.99 * weight_in_kg) + (6.25 * @user.height.to_i) - (4.92 * @user.age.to_i) - 161).to_i %>
          <% end %>
        <br>
        <% if @user.activitylevel[0] == '1' %>
          <% maintenancefactor = bmr * 1.2 %>
        <% elsif @user.activitylevel[0] == '2' %>
          <% maintenancefactor = bmr * 1.375 %>
        <% elsif @user.activitylevel[0] == '3' %>
          <% maintenancefactor = bmr * 1.55 %>
        <% elsif @user.activitylevel[0] == '4' %>
          <% maintenancefactor = bmr * 1.725 %>
        <% elsif @user.activitylevel[0] == '5' %>
          <% maintenancefactor = bmr * 1.9 %>
        <% end %>

        TDEE: <%= tdee = maintenancefactor.to_i %>
        <br>
        <% one_pound = 3500 %>
        <% subtractcals = ((@user.pundstolose.to_i * one_pound) / 30) %>
        <h4>
          Based on your Acitvity Level and your monthly goal and you should eat
          <%= (tdee - subtractcals).to_i %> calories a day.
        </h4>
        <br>
      </div>
    </div>
  </div>
</div>
